<strong>Rasmiy web-sayt:</strong>
<a href="http://kamolot.uz">http://kamolot.uz</a><br><br>
<strong>Dastur versiyasi:</strong>&nbsp;1.0.0<br><br>

Dastur ishlashi uchun mobil qurilma internet tarmog'iga ulangan bo'lishi shart. Dasturdagi ma'lumotlarni  rus va o'zbek tillarida ko'rish mumkin. Tillarni dasturning menyu qismidan o'zgartiriladi. <br><br>
Dastur bo'yicha savollar tug'iladigan bo'lsa quyidagi elektron pochta bo'yicha murojat qilish mumkin: <a href="mailto:kamolot.app@gmail.com">kamolot.app@gmail.com</a>