<strong>Официальный сайт:</strong>
<a href="http://tapenote.ru">http://tapenote.ru</a><br><br>
<strong>Версия программы:</strong>&nbsp;1.0.0<br><br>

Для того чтобы программа работала корректно мобильное устройство должно быть подключено к сети интернет. Данные размещенные в приложении можно читать в двух языках, русский и английский. Язык приложения можно изменить в разделе меню. <br><br>
При возникновении вопросов по поводу приложения писать на адрес: <a href="mailto:talgatm07@gmail.com">talgatm07@gmail.com</a>